<div class=main>
    <table id="customers">
    
      <th> <input type="checkbox"></th>
        <th><a href="#" class="sort-by">Text</a></th>
        <th><a href="#" class="sort-by">Number</a></th>
        <th><a href="#" class="sort-by">Inputs</a></th>
        <th><a href="#" class="sort-by">Checkbox</a></th>
        <th><a href="#" class="sort-by">Radio</a></th>
   
      <tr>
       <td><input type="checkbox"></td>
        <td>Text</td>
        <td>124578963</td>
        <td><input type="text" placeholder="Entering a value"></td>
        <td class="text-center"><input type="checkbox"></td>
        <td class="text-center"><input type="radio"></td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td class="text-center"><input type="checkbox"></td>
        <td class="text-center"><input type="radio"></td>
         <td><input type="text" placeholder="Entering a value"></td>
         <td class="text-center"><input type="checkbox"></td>
         <td class="text-center"><input type="radio"></td>
       </tr>
       <tr>
       <td><input type="checkbox"></td>
        <td>Text</td>
        <td >124578963</td>
        <td><input type="text" placeholder="Entering a value"></td>
        <td class="text-center"><input type="checkbox"></td>
        <td class="text-center"><input type="radio"></td>
      </tr><tr>
       <td><input type="checkbox"></td>
        <td>Text</td>
        <td >124578963</td>
        <td><input type="text" placeholder="Entering a value"></td>
        <td class="text-center"><input type="checkbox"></td>
        <td class="text-center"><input type="radio"></td>
      </tr><tr>
       <td><input type="checkbox"></td>
        <td>Text</td>
        <td >124578963</td>
        <td><input type="text" placeholder="Entering a value"></td>
        <td class="text-center"><input type="checkbox"></td>
        <td class="text-center"><input type="radio"></td>
      </tr><tr>
       <td><input type="checkbox"></td>
        <td>Text</td>
        <td >124578963</td>
        <td><input type="text" placeholder="Entering a value"></td>
        <td class="text-center"><input type="checkbox"></td>
        <td class="text-center"><input type="radio"></td>
      </tr><tr>
       <td><input type="checkbox"></td>
        <td>Text</td>
        <td >124578963</td>
        <td><input type="text" placeholder="Entering a value"></td>
        <td class="text-center"><input type="checkbox"></td>
        <td class="text-center"><input type="radio"></td>
      </tr><tr>
       <td><input type="checkbox"></td>
        <td>Text</td>
        <td >124578963</td>
        <td><input type="text" placeholder="Entering a value"></td>
        <td class="text-center"><input type="checkbox"></td>
        <td class="text-center"><input type="radio"></td>
      </tr>
      
    </table>
</div>